<h1 class="font-bold mt-3 text-center text-lime-700">It`s: {{title}} by {{author | uppercase}}</h1>
    <input
    type="text"
    class="bg-blue-300 rounded placeholder-current border-black border w-full px-4 py-2 mb-2"
    placeholder="Filter by ..."
    [(ngModel)]="term"
    >
    <p *ngIf="loading" class="text-center text-lg">Loading...</p>

    <div *ngIf="productService.products as products">

        <app-product
            *ngFor="let product of products | filterProducts: term"
            [product]="product"
        ></app-product>

    </div>
    <app-modal *ngIf="modalService.isVisible$ |async" title="Create new product">
        <app-create-product>

        </app-create-product>
    </app-modal>

    <button
    (click)="modalService.open()"
    class="rounded-full bg-red-700 text-white fixed right-5 bottom-5 py-2 px-4">+</button>
